# accounts
private_keys.txt
proxys.txt
twitter_tokens.txt

# status
log.txt
accounts.db
problems.txt
proxy_problem.txt
low_balance.txt
problem_with_add_to_wl.txt

# виртуальное окружение
.env

.idea
.vscode

__pycache__/
*.pyc

meme